.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 1.4rem;
    font-size: 1.2rem;
    background-color: #ed4;
    color: #fff;
    border: 1px solid #555555;
    position: fixed;
    right: 24px;
    bottom: 20px;
    z-index: 999;   
    scroll-behavior: smooth;
    overflow: hidden;
    cursor: pointer;
}
.arrow {
    position: absolute;
    top: -20px;
    width: 1.1rem;
    height: 0.3rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-arrow 3s ease-out infinite;
}
.arrow:first-child {
    animation: move-arrow 3s ease-out 1s infinite;
}
.arrow:nth-child(2) {
    animation: move-arrow 3s ease-out 2s infinite;
}
.arrow:before, .arrow:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
}
.arrow:before {
    left: 0;
    transform: skewY(-30deg);
}
.arrow:after {
    right: 0;
    width: 50%;
    transform: skewY(30deg);
}
@keyframes move-arrow {
    100% {
        opacity: 1;
   }
    66.6% {
        opacity: 1;
        transform: translateY(2.28rem);
   }
    33.3% {
        opacity: 1;
        transform: translateY(3.12rem);
   }
    25% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
   }
}
@media only screen and (max-width: 768px) {
    .arrow,.container{
        display: none;
    }
}
@media only screen and (max-width: 426px) {
    .arrow,.container{
        display: none;
    }
}
@media only screen and (max-width: 376px) {
    .arrow,.container{
        display: none;
    }
}