@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
.jumbotronWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron{
    width: 90%;
    display: flex;
}