.jumboRight{
    width: 78%;
    display: flex;
    flex-direction: column;
}
.productsWrapper{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.search{
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search .searchInp{
    width: 70%;
    padding: 1rem 2rem;
    border: none;
    background-color: #f0f0f0;
    color: #7c7c7c;
    font-size: .9rem;
    outline: none;
}
.search .button{
    position: relative;
    width: 25%;
    height: 100%;
    letter-spacing: .03em;
    font-size: .8rem;
    line-height: 2em;
    font-weight: 600;
    transition: .4s;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;    
}
.button>span{
    position: absolute;
    background-color: #ffec4f;
    color: black;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.button span:nth-child(2){
    background-color: black;
    color: #fff;
    overflow: hidden;
    z-index: 2;
    transition: .5s;
    clip-path: polygon(70% 0, 100% 0%, 100% 100%, 70% 100%, 43% 50%);
}
.button span:nth-child(2):hover{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 47%);
}
.button>span:nth-child(1):hover ~ span:nth-child(2){
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 47%);
}
.search .button span svg{
    margin-right: 8px;
}